
<!--  <div id="spinner"
 class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
 <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
</div>  -->


<style>
    .hover-effect:hover {
      background-color: white !important;
      color: red !important; /* Optionnel : changer la couleur du texte */
    }
  </style>

<!-- Navbar Start -->

<!-- Navbar End -->

<style>
    /* CSS général */

    /* Pour les écrans petits (max 768px) */
    @media (max-width: 768px) {
        .custom-h1 {
            margin-left: 70px;
            text-align: right; /* Aligne le texte à droite */
        }
    }
    </style>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-0 wow fadeIn" data-wow-delay="0.1s">
 <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
     <div class="carousel-inner">
        <div class="carousel-item active">
            <br><br>
            <img src="../../../assets/img/PROFESSIONNEL2.png" style="width: auto;" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    
                    <div class="row justify-content-start">

                        <div class="col-lg-8">
                            <br><br><br><br>
                            <p class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown"></p>
                            <h1 class="display-1 animated slideInDown text-start custom-h1" style="position: relative; left: -150px;">
                                Votre succès financier, notre mission
                            </h1>
                            <a href="" class="btn btn-primary py-3 px-5 animated slideInDown hover-effect" 
                            style="background-color: red; border: white 3px solid; position: relative; left: -150px;">
                            Voir Plus
                         </a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="carousel-item">
            <br>
            <br>
            <img class="w-100" src="../../../assets/img/assurer-votre-avenir-et-proteger-votre-famille2.png" height="540px" alt="Image">
            <div class="carousel-caption">
                <div class="container">
                    <div class="row justify-content-start">
                        <br><br><br><br>
                        <p class="d-inline-block rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown"></p>
                        <div class="col-lg-8">
                            <h1 class="display-1 animated slideInDown " style="position: relative; left: -150px;">
                                Soutien Financier réel
                            </h1>
                            <a href="" class="btn btn-primary py-3 px-5 animated slideInDown custom-btn" 
                                style="background-color: red; border: white 3px solid; position: relative; left: -150px;">
                                Voir Plus
                            </a>
                            <img src="../../../assets/img/download-removebg-preview (11).png" style="margin-left: 750px;" width="60%" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
<!--    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
     </button>  -->
 </div>
</div>
<!-- Carousel End -->


<!-- About Start -->

<!-- About End -->


<!-- Facts Start -->

<!-- Facts End -->


<!-- Features Start -->
<div class="container-xxl feature py-5">
 <div class="container">
     <div class="row g-5 align-items-center">
         <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
             <h1 class="display-5 mb-4">Quelques raisons pour les quelles les gens nous choisissent</h1>
             <p class="mb-4">Forte d’un vécu de plus de 50 ans d’existence, d’un présent et d’un avenir qu’elle cultive et capitalise avec une dynamique de progression et de développement, BH Bank est considérée aujourd'hui comme l'un des principaux acteurs de l'activité économique en Tunisie.
             </p>
             <a class="btn btn-primary py-3 px-5" href="">Voir Plus</a>
         </div>
         <div class="col-lg-6">
             <div class="row g-4 align-items-center">
                 <div class="col-md-6">
                     <div class="row g-4">
                         <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                             <div class="feature-box border rounded p-4">
                                 <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                 <h4 class="mb-3">Fonction conformité</h4>
                                 <p class="mb-3"> La conformité est le respect par la Banque de toutes les obligations légalesmais également des bonnes  pratiques professionnelles éthiques et déontologiques</p>

                             </div>
                         </div>
                         <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                             <div class="feature-box border rounded p-4">
                                 <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                 <h4 class="mb-3">Lutte anti-blanchiment</h4>
                                 <p class="mb-3">La BH -Bank accorde une grande importance au respect des obligations réglementaires locales et des normes internationales du GAFI  </p>
                                
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                     <div class="feature-box border rounded p-4">
                         <i class="fa fa-check fa-3x text-primary mb-3"></i>
                         <h4 class="mb-3">Identification des clients</h4>
                         <p class="mb-3">Des procédures robustes d’identification et de connaissance de la clientèle (Know Your Customer – KYC) sont applicables à la BHBank.</p>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
<!-- Features End -->



<!-- Footer Start -->
