<br><br>
<div class="container-fluid page-headerS mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-4 animated slideInDown">Services</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a routerLink="">Acceuil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Services</li>
            </ol>
        </nav>
    </div>
</div>
<div class="container-xxl service py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">

            <h1 class="display-5 mb-5">Des Services Financiers Exceptionnels pour les Entreprises</h1>
        </div>
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-lg-4">
                <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Planification Financière </h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Investissement en Trésorerie</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Prêts aux Entreprises</h5>
                    </button>
                    <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                        data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                        <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Consultation Financière</h5>
                    </button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="../../../assets/img/service-1.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">25 ans d'expérience en soutien financier</h3>
                                <p class="mb-4">Avec 25 ans d'expérience dans le soutien financier, nous accompagnons les entreprises à chaque étape de leur développement, en offrant des solutions de planification financière stratégiques et personnalisées.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Prêts Sécurisés</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Facilités de Crédit</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Avance de Trésorerie</p>
                               
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-2">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="../../../assets/img/service-2.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">25 ans d'expérience en soutien financier</h3>
                                <p class="mb-4">L'investissement en trésorerie est essentiel pour assurer la croissance et la pérennité de votre entreprise. Nous vous aidons à maximiser vos rendements tout en gérant vos liquidités de manière optimale.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Stratégies d'Investissement Personnalisées </p>
                                <p><i class="fa fa-check text-primary me-3"></i>Gestion des Risques</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Suivi Continu</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-3">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="../../../assets/img/service-3.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">25 ans d'expérience en soutien financier</h3>
                                <p class="mb-4">Nous proposons des solutions de financement flexibles et adaptées aux besoins spécifiques de chaque entreprise. Que vous soyez une startup ou une entreprise établie, nos prêts aux entreprises sont conçus pour soutenir votre croissance.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Conseils Personnalisés</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Optimisation des Coûts</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Gestion des Risques</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab-pane-4">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute rounded w-100 h-100" src="../../../assets/img/service-4.jpg"
                                        style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-4">25 ans d'expérience en soutien financier</h3>
                                <p class="mb-4">Nous proposons des solutions de financement flexibles et adaptées aux besoins spécifiques de chaque entreprise. Que vous soyez une startup ou une entreprise établie, nos prêts aux entreprises sont conçus pour soutenir votre croissance, financer vos projets d’expansion ou améliorer votre liquidité.</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Solutions Flexibles</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Soutien à la Croissance</p>
                                <p><i class="fa fa-check text-primary me-3"></i>Planification Personnalisée</p>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Callback Start -->
<div class="container-fluid callback mt-5 py-5">
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Contactez-nous
                        </p>
                        <h1 class="display-5 mb-5">Demander un rappel</h1>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Votre Nom">
                                <label for="name">Votre Nom</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="mail" placeholder="Votre Email">
                                <label for="mail">Votre Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="mobile" placeholder="Votre Mobile">
                                <label for="mobile">Votre Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" placeholder="Objet">
                                <label for="subject">Objet</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Laissez un message ici" id="message"
                                    style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-primary w-100 py-3" type="submit">Soumettre maintenant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
